[submodule "check-my-time.Frontend"]
	path = check-my-time.Frontend
	url = https://github.com/m-i-k-o-r/check-my-time.Frontend.git
[submodule "check-my-time.Backend"]
	path = check-my-time.Backend
	url = https://github.com/m-i-k-o-r/check-my-time.Backend.git
