[submodule "time-ahead-backend"]
	path = time-ahead-backend
	url = https://github.com/m-i-k-o-r/time-ahead-backend.git
[submodule "time-ahead-frontend"]
	path = time-ahead-frontend
	url = https://github.com/m-i-k-o-r/time-ahead-frontend.git